@charset "UTF-8";
body {
  background-color: rgb(220, 242, 245);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding: 20px;
}
h1 {
  color: rgb(0, 0, 0);
  font-size: 28px;
  margin-bottom: 10px;
}
p {
  color: black;
}
img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
  transition: transfrom 0.3s ease;
}
img:hover {
  transform: scale(1.05);
}
gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
fade-in {
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  background-color: black;
  color: white;
  font-size: 30px;
}
video {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0, 0, 00.2);
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
